<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game For Scale</title>
</head>
<body>
<div id="header">
  <div id="score"></div>
</div>
<div id="game"></div>
</body>
</html>
