<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serverless Game</title>
</head>
<body>
<div id="container">
  <div id="qr">
    <div>Game</div>
    <img src="<%= require('./images/game-qr.png') %>">
    <div>Github</div>
    <img src="<%= require('./images/github-qr.png') %>">
  </div>
  <div id="game"></div>
  <div id="stats">
    <div id="stats-header">Игроки</div>
    <div id="stats-body"></div>
  </div>
</div>
</body>
</html>
